<template>
  <section id="dashboard-ecommerce">
    <b-row class="match-height">
      <b-col
        xl="8"
        md="6"
      >
        <analytics-congratulation :data="data.congratulations" />
      </b-col>
      <b-col
        xl="4"
        md="6"
      >
        <ecommerce-medal :data="data.congratulations" />
      </b-col>
    </b-row>

    <b-row class="match-height">
      <b-col lg="4">
        <ecommerce-meetup :data="data.meetup" />
      </b-col>

      <!-- Revenue Report Card -->
      <b-col lg="8">
        <ecommerce-revenue-report :data="data.revenue" />
      </b-col>
      <!--/ Revenue Report Card -->
    </b-row>

    <!-- Revenue Report Card -->
    <b-row class="match-height">
      <b-col lg="12">
        <card-analytic-revenue />
      </b-col>

      <!-- Revenue Report Card -->
      <b-col lg="12">
        <card-daily-average />
      </b-col>

      <!--/ Revenue Report Card -->
    </b-row>
  </section>
</template>

<script>
import { BRow, BCol } from 'bootstrap-vue'

import { getUserData } from '@/auth/utils'
import EcommerceMedal from './EcommerceMedal.vue'
import AnalyticsCongratulation from '../analytics/AnalyticsCongratulation.vue'
import EcommerceRevenueReport from './EcommerceRevenueReport.vue'
import EcommerceMeetup from './EcommerceMeetup.vue'
import CardAnalyticRevenue from './CardAnalyticRevenue.vue'
import CardDailyAverage from './CardDailyAverage.vue'

export default {
  components: {
    BRow,
    BCol,

    AnalyticsCongratulation,
    EcommerceMedal,
    EcommerceRevenueReport,
    EcommerceMeetup,
    CardAnalyticRevenue,
    CardDailyAverage,
  },
  data() {
    return {
      data: {},
    }
  },
  created() {
    // data
    this.$http.get('/ecommerce/data')
      .then(response => {
        this.data = response.data

        // ? Your API will return name of logged in user or you might just directly get name of logged in user
        // ? This is just for demo purpose
        const userData = getUserData()
        this.data.congratulations.name = userData.fullName.split(' ')[0] || userData.username
      })
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/pages/dashboard-ecommerce.scss';
@import '@core/scss/vue/libs/chart-apex.scss';
</style>
